# Ignore sensitive files
trace

# Ignore node-related installation folders in all directories
.next/
node_modules/

# Ignore build artifacts
dist-out/
dist/
.turbo/

# Ignore build cache (this means cloning the repo requires a full re-build. This is intentional)
**/*.tsbuildinfo

# Ignore vscode settings
.vscode/