# VERY IMPORTANT:
# .GITIGNORE IS ALSO READ BY TAILWIND
# This means that if having this .gitignore file in the root of the project while building, the tailwind classes break for the local packages.
# To avoid this, both docker and the gh actions remove or ignore this file.
# Ignore sensitive files
trace

# Ignore node-related installation folders in all directories
.next/
node_modules/

# Ignore build artifacts
dist-out/
dist/
.turbo/
out/

# Ignore build cache (this means cloning the repo requires a full re-build. This is intentional)
**/*.tsbuildinfo

# Ignore vscode settings
.vscode/

# Ignore .mdx build file folder
**/changelog/mdx/